
#searchForm ::-webkit-input-placeholder {
	color: #aaa;
}


#optionsLink {
	margin-top: 5px;
	cursor: pointer;
	display: inline-block;
	color: #003399;
}

#optionsLink:hover {
	text-decoration: underline;
}

body {
	padding: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 10pt;	
	min-width: 500px;
}
