/*******************************************/

/*******************************************/

div.list-container {	
	background-color: darkcyan;
	width: 200px;
	padding: 10px;
}
div.droppable-list {
	min-height: 1.5em;
	width: 200px;
}

div.draggable-item-list {
	width: 200px;
}

.protect {
	/*background-color: red;*/
	cursor: not-allowed;
}

.placeholder {
	height: 1px;
	background-color: white;
	width: 200px;
}

div.edit-engs {
	display: none;
}













/*
body, input {
	font-family: Segoe UI light;
	color: #fff;
	background-color: #225555;
}

body {
	padding: 0px;
	margin: 0px;
	
}

#header {
	height: 40px;
	text-align: center;
	font-size: 14pt;
	line-height: 2em;
	background-color: #000;
}

#body {
	display: flex;
	
	padding: 0px;
	margin: 0px;
}

#menu {
	flex-basis: 200px;
}

#container {
	padding-top: 20px;
	flex: 1;
}

#menu div.menuItem {
	padding: 5px;
	cursor: pointer;
	height: 20px;	
}

table {
	min-width: 700px;
	width: 90%;
}

table, td, tr {
    border: 1px solid #fff;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

table input {
    border: none;
    width: 100%;
}

#searchEnginesContainer table{
	margin: 10px 0px 10px 0px;
}

#page2, #page3 {
	display: none;
}*/