/*******************************************/

/*******************************************/

div.list-cnt {	
	background-color: #7d97a5 !important;
	width: 300px;
	padding: 10px;
	cursor: pointer;
}
.droppable-list {
	min-height: 1.5em;
	width: 200px;	
}

.draggable-item-list {
	width: 300px;
	min-height: 30px;
	border: 1px solid rgba(255,255,255,.5);
	background-color: rgba(255,255,255,0.2);
	margin: 2px;
}

.draggable-item-list p.title {
	margin: 2px;
	padding: 2px;
	display: inline-block;
	width: 200px;
}

.draggable-item-list .ico {
	display: none;
	opacity: 0.6;
	color: black;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.draggable-item-list .ico:hover {
	opacity: 1;	
	color: white;
}

.draggable-item-list:hover .ico {
	display: initial;
}

#menu-cnt .btn-edit {
	display: none;
}

.ico-white {
	color: white;
	font-size: 18px !important;	
}

#engs-cnt .separator .ico {
	display: none;
}

.protect {
	cursor: not-allowed;
}

.placeholder {
	margin: 4px 0px 4px 0px;
	height: 1px;	
	width: 300px;
	background-color: rgba(255,255,255,0.5);
}

.edit-engs {
	display: none;
	margin: 5px 5px 5px 5px;
}

input.eng-in {
	width: 200px;
	background-color: rgba(255,255,255,0.2);
	border: none;
	color: white;
}




body {
	background-color: #f5f7f8 !important;
}




/*
body, input {
	font-family: Segoe UI light;
	color: #fff;
	background-color: #225555;
}

body {
	padding: 0px;
	margin: 0px;
	
}

#header {
	height: 40px;
	text-align: center;
	font-size: 14pt;
	line-height: 2em;
	background-color: #000;
}

#body {
	display: flex;
	
	padding: 0px;
	margin: 0px;
}

#menu {
	flex-basis: 200px;
}

#container {
	padding-top: 20px;
	flex: 1;
}

#menu div.menuItem {
	padding: 5px;
	cursor: pointer;
	height: 20px;	
}

table {
	min-width: 700px;
	width: 90%;
}

table, td, tr {
    border: 1px solid #fff;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

table input {
    border: none;
    width: 100%;
}

#searchEnginesContainer table{
	margin: 10px 0px 10px 0px;
}

#page2, #page3 {
	display: none;
}*/