body, input {
	font-family: Segoe UI light;
	color: #fff;
	background-color: #225555;
}

body {
	padding: 0px;
	margin: 0px;
	
}

#header {
	height: 40px;
	text-align: center;
	font-size: 14pt;
	line-height: 2em;
	background-color: #000;
}

#body {
	display: flex;
	
	padding: 0px;
	margin: 0px;
}

#menu {
	flex-basis: 200px;
}

#container {
	padding-top: 20px;
	flex: 1;
}

#menu div.menuItem {
	padding: 5px;
	cursor: pointer;
	height: 20px;	
}

table {
	min-width: 700px;
	width: 90%;
}

table, td, tr {
    border: 1px solid #fff;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

table input {
    border: none;
    width: 100%;
}

#newSearchEngine, #searchEnginesContainer {
	margin: 10px 0px 10px 0px;
}

#searchEnginesContainer div.row, #newSearchEngine {
	display: flex;
	width: 1200px;
}

#newSearchEngine div {
	flex:1;
	border: 1px solid black;
}

#newSearchEngine div:nth-child(1), div.row div:nth-child(1) {
	flex-basis: 100px;
}

#newSearchEngine div:nth-child(2), div.row div:nth-child(2) {
	flex-basis: 200px;
}

div.row div	{
	border: 1px solid black;
	padding: 3px;
	flex:1;
}

div.row div input[type="text"], #newSearchEngine div input[type="text"] {
	width: 100%;
    border: none;    
}

#page2, #page3 {
	display: none;
}